@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #3a3d3b;
    font-size: 18px;
    color: #fff;
    line-height: 2rem;
    margin: 0;
    padding: 0;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.current {
    background-color: #3a3d3b;
}

.button {
    padding: 15px;
    background-color: #ff0015;
}

.btn {
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.8s;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header-Nav*/
header {
    background-color: aqua;
    padding: 15px;
    border-bottom: #ff0015 solid 4px;
}


header .branding {
    float: left;
}

header li {
    float: left;
    padding: 0 20px;
    font-size: 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav li:hover {
    background-color: #3a3d3b;
    transition: ease-in-out 0.8s;
}

/*Showcase*/
#showcase {
    background: url(../img/showcase.jpg) no-repeat center/cover;
    height: 82vh;
    border-bottom: #ff0015 4px solid;
}

#showcase h3 {
    text-align: center;
    color: #000dff;
    margin-top: 25vh;
    font-size: 35px;
}

#showcase p {
    color: #000dff;
    text-align: center;
    font-size: 25px;
}

/*Boxes*/
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 33.3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#boxes .box img {
    width: 250px;
}

/*Newsletter*/
#newsletter {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: #1ddbbf;
}

#newsletter .tbox,
.btn {
    padding: 15px;
}

/*   Sevices Css    */

#services {
    text-align: center;
}

#services h1 {
    margin-top: 20px;
}

#services li {
    text-align: left;
    margin-left: 100px;
    margin-right: auto;
}

#services ul {
    list-style: circle;
}

/*      Contact Css     */
#contact {
    text-align: center;
}

/*      About Css       */
#about h1 {
    text-align: center;
}


/*Book Now*/
#book-now {
    text-align: center;
    color: #fff;
}

/*Footer*/
footer {
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

footer h1 {
    margin-top: 25px;
}

footer p {
    color: #000;
}

footer ul {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #000;
}

footer li {
    display: block;
    line-height: 4rem;
}

footer a {
    color: #000;
}

footer a:hover {
    background-color: #3a3d3b;
    transition: 0.8s;
    padding: 15px;
    color: #fff;
}

/*Media Querys*/
@media(max-width: 1024px) {
    header li {
        padding: 0 15px;
        font-size: 20px;
    }

    #showcase {
        height: 50vh;
    }

    #showcase h3 {
        text-align: center;
        color: #000dff;
        margin-top: 15vh;
        font-size: 35px;
    }

    #showcase p {
        color: #000dff;
        text-align: center;
        font-size: 25px;
    }

    #boxes .box {
        float: left;
        width: 33.3%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    footer li {
        display: inline;
        line-height: 4rem;
        padding: 0 15px;
    }
}

@media(max-width: 768px) {
    .container {
        width: 95%;
        margin: auto;
        overflow: hidden;
    }

    .current {
        background: none;
    }

    header li {
        float: left;
        padding: 0;
        padding-left: 20px;
        font-size: 20px;
    }

    header nav {
        float: right;
    }

    #boxes {
        display: inline;
    }

    .hide-on-small {
        display: none;
    }
}

@media(max-width: 727px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .current {
        background-color: #3a3d3b;
    }

    /*Header*/
    header li {
        float: left;
        padding: 0px 10px 0px 10px;
        font-size: 20px;
    }

    header nav {
        float: left;
    }

    /*Showcase*/
    #showcase h3 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    /*Boxes*/
    #boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    #boxes .box h1 {
        margin: 15px 0;

    }

    /*Newsletter*/
    #newsletter p {
        line-height: 1.5rem;
        margin: 10px 0;
    }

    /*Services*/
    #services h1 {
        margin: 20px 0;
    }

    #services li {
        text-align: left;
        margin: 8px 25px auto;
    }

    /*Book Now*/
    #book-now {
        text-align: center;
        color: #fff;
        margin: 20px 0;
    }

    #book-now p {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    /*Contact*/
    #contact h1 {
        margin: 15px 0;
    }

    /*About*/
    #about h1 {
        margin: 15px 0;
    }

    /*Footer*/
    footer li {
        display: none;
    }

    footer h3 {
        display: none;
    }
}

@media(max-width: 375px) {

    /*Header*/
    header li {
        float: left;
        padding: 0px 10px 0px 10px;
        font-size: 16px;
    }

    #newsletter .btn {
        margin-top: 15px;
    }

    #contact p {
        font-size: 15px
    }

    #book-now p {
        font-size: 15px;
    }
}